<div class="login-container">
  <div class="login-content">
    <div class="header-container">
      <img
        (click)="this.backToSigInPage()"
        src="/assets/img/logo.png"
        alt="Logo"
      />
    </div>
    <div class="login-content-container">
      <div
        class="login-card-container"
        *ngIf="this.dataService.loginPageActive"
      >
        <h1>Einloggen</h1>
        <form class="login-card-form" (ngSubmit)="this.login()">
          <div>
            <div>
              <div>
                <input
                  (input)="this.resetErrorEmailOrUsername()"
                  type="text"
                  placeholder="E-Mail oder Benutzername"
                  name="dataService.emailOrUsername"
                  [(ngModel)]="this.dataService.emailOrUsername"
                  [class.error]="
                    this.dataService.emptyEmailOrUsername &&
                    !this.dataService.emailOrUsername
                  "
                />
                <p
                  class="error-text-input"
                  *ngIf="this.dataService.emptyEmailOrUsername"
                >
                  Bitte geben Sie eine gültige E-Mail-Adresse oder Benutzername
                  ein.
                </p>
              </div>
            </div>
            <div>
              <div>
                <div class="password-container">
                  <input
                    (input)="this.resetErrorPassword()"
                    [type]="
                      this.dataService.passwordVisible ? 'text' : 'password'
                    "
                    placeholder="Passwort"
                    name="dataService.password"
                    [(ngModel)]="this.dataService.password"
                    [class.error]="
                      this.dataService.emptyPassword &&
                      !this.dataService.password
                    "
                  />
                  <button
                    type="button"
                    (click)="this.togglePasswordVisibility()"
                    tabindex="-1"
                  >
                    <img
                      [src]="
                        this.dataService.passwordVisible
                          ? '/assets/icons/eye-slash.svg'
                          : '/assets/icons/eye.svg'
                      "
                      alt="Toggle Password"
                      class="password-icon"
                    />
                  </button>
                </div>
                <p
                  class="error-text-input"
                  *ngIf="this.dataService.emptyPassword"
                >
                  Bitte geben Sie eine gültiges Passwort ein.
                </p>
              </div>
            </div>
          </div>
          <button
            [disabled]="this.dataService.inputIsEmpty"
            [ngClass]="{
              'submit-empty-button': this.dataService.inputIsEmpty,
              'submit-button': !this.dataService.inputIsEmpty
            }"
            type="submit"
          >
            Anmelden
          </button>
        </form>
        <p class="error-text-input" *ngIf="this.dataService.wrongData">
          {{ this.dataService.wrongData }}
        </p>
        <div class="reset-password-container">
          <p (click)="this.loadForgetPassword()">Passwort vergessen?</p>
        </div>
        <div class="checkbox-container">
          <div
            (click)="this.toggleRememberMe()"
            class="checkbox"
            [class.checked]="this.dataService.rememberMe"
          >
            <span *ngIf="this.dataService.rememberMe" class="checkmark">✔</span>
          </div>
          <label>Login-Daten speichern</label>
        </div>
        <div class="login-register-container">
          <p class="login-register-text">Neu bei Videoflix?</p>
          <p (click)="this.loadRegisterPage()" class="login-register-link-text">
            Jetzt registrieren
          </p>
        </div>
      </div>

      <div
        class="login-card-container"
        *ngIf="this.dataService.resetPasswordPageActive"
      >
        <div class="back-arrow-container">
          <img
            (click)="this.backToSigInPage()"
            src="/assets/img/arrow_left.png"
            alt="arrow_left"
          />
        </div>
        <h1>Passwort zurücksetzen</h1>
        <form class="login-card-form" (ngSubmit)="this.setForgetPassword()">
          <div>
            <div>
              <div>
                <input
                  (input)="this.resetErrorEmailOrUsernameForget()"
                  type="text"
                  placeholder="E-Mail oder Benutzername"
                  name="dataService.emailOrUsernameForget"
                  [(ngModel)]="this.dataService.emailOrUsernameForget"
                  [class.error]="
                    this.dataService.emptyEmailOrUsernameForget &&
                    !this.dataService.emailOrUsernameForget
                  "
                />
                <p
                  class="error-text-input"
                  *ngIf="this.dataService.emptyEmailOrUsernameForget"
                >
                  Bitte geben Sie eine gültige E-Mail-Adresse oder Benutzername
                  ein.
                </p>
              </div>
            </div>
          </div>
          <button
            [disabled]="this.dataService.inputIsEmpty"
            [ngClass]="{
              'submit-empty-button': this.dataService.inputIsEmpty,
              'submit-button': !this.dataService.inputIsEmpty
            }"
            type="submit"
          >
            Passwort zurücksetzen
          </button>
        </form>
        <p class="error-text-input" *ngIf="this.dataService.wrongData">
          {{ this.dataService.wrongData }}
        </p>
      </div>

      <div
        class="login-card-container"
        *ngIf="this.dataService.emailRequestHasBeenSent"
      >
        <h1>Überprüfe deine E-Mails</h1>
        <div class="back-to-main-button-container">
          <span class="back-to-main-button" (click)="this.backToSigInPage()">
            Login
          </span>
        </div>
      </div>

      <div
        class="login-card-container"
        *ngIf="this.dataService.registerPageActive"
      >
        <div class="back-arrow-container">
          <img
            (click)="this.backToSigInPage()"
            src="/assets/img/arrow_left.png"
            alt="arrow_left"
          />
        </div>
        <h1>Registrieren</h1>
        <form class="login-card-form">
          <div>
            <div>
              <div>
                <input
                  (input)="this.resetEmailEmptyError()"
                  type="email"
                  placeholder="E-Mail"
                  name="dataService.email"
                  [(ngModel)]="this.dataService.email"
                  [class.error]="
                    this.dataService.emptyEmail && !this.dataService.email
                  "
                />
                <p class="error-text-input" *ngIf="this.dataService.emptyEmail">
                  Bitte geben Sie Ihre E-Mail ein.
                </p>
                <p
                  class="error-text-input"
                  *ngIf="this.dataService.isNotAnEmail"
                >
                  Bitte geben Sie eine gültige E-Mail ein.
                </p>
              </div>
            </div>
          </div>
          <div class="checkbox-register-container">
            <div
              class="checkbox"
              [class.checked]="this.dataService.privacyPolicyAccept"
              (click)="this.togglePrivacyPolicy()"
            >
              <span
                *ngIf="this.dataService.privacyPolicyAccept"
                class="checkmark"
                >✔</span
              >
            </div>
            <label class="text-privacy-policy-register">Ich simme der </label>
            <label
              (click)="this.dataService.loadPrivacyPolicyPage()"
              class="privacy-policy-register-link text-privacy-policy-register"
              >Datenschutzerklärung</label
            >
            <label class="text-privacy-policy-register">zu.</label>
          </div>
          <button
            [disabled]="
              this.dataService.inputIsEmpty ||
              !this.dataService.privacyPolicyAccept
            "
            [ngClass]="{
              'submit-empty-button':
                this.dataService.inputIsEmpty ||
                !this.dataService.privacyPolicyAccept,
              'submit-button':
                !this.dataService.inputIsEmpty &&
                this.dataService.privacyPolicyAccept
            }"
            (click)="this.switchToNamePage()"
          >
            Weiter
          </button>
        </form>
        <p class="error-text-input" *ngIf="this.dataService.wrongData">
          {{ this.dataService.wrongData }}
        </p>
      </div>

      <div
        class="login-card-container"
        *ngIf="this.dataService.registerPageNameActive"
      >
        <div class="back-arrow-container">
          <img
            (click)="this.loadRegisterPage()"
            src="/assets/img/arrow_left.png"
            alt="arrow_left"
          />
        </div>
        <h1>Registrieren</h1>
        <form class="login-card-form">
          <div>
            <div>
              <div>
                <input
                  (input)="this.resetErrorFirstName()"
                  type="text"
                  placeholder="Vorname"
                  name="dataService.firstName"
                  [(ngModel)]="this.dataService.firstName"
                  [class.error]="
                    this.dataService.emptyFirstName &&
                    !this.dataService.firstName
                  "
                />
                <p
                  class="error-text-input"
                  *ngIf="this.dataService.emptyFirstName"
                >
                  Bitte geben Sie Ihren Vorname ein.
                </p>
              </div>
            </div>
            <div>
              <div>
                <input
                  (input)="this.resetErrorLastName()"
                  type="text"
                  placeholder="Nachname"
                  name="dataService.lastName"
                  [(ngModel)]="this.dataService.lastName"
                  [class.error]="
                    this.dataService.emptyLastName && !this.dataService.lastName
                  "
                />
                <p
                  class="error-text-input"
                  *ngIf="this.dataService.emptyLastName"
                >
                  Bitte geben Sie Ihren Nachnamen ein.
                </p>
              </div>
            </div>
            <div>
              <input
                (input)="this.resetErrorUsername()"
                type="text"
                placeholder="Benutzername"
                name="dataService.userName"
                [(ngModel)]="this.dataService.userName"
                [class.error]="
                  this.dataService.emptyUserName && !this.dataService.userName
                "
              />
              <p
                class="error-text-input"
                *ngIf="this.dataService.emptyUserName"
              >
                Bitte geben Sie einen Benutzername ein.
              </p>
              <p
                class="error-text-input"
                *ngIf="this.dataService.usernameHasSpecialChars"
              >
                Bitte geben Sie einen Benutzername ohne Sonderzeichen ein.
              </p>
            </div>
          </div>
          <button
            (click)="this.switchToPasswordPage()"
            [disabled]="this.dataService.inputIsEmpty"
            [ngClass]="{
              'submit-empty-button': this.dataService.inputIsEmpty,
              'submit-button': !this.dataService.inputIsEmpty
            }"
            type="submit"
          >
            Weiter
          </button>
        </form>
        <p class="error-text-input" *ngIf="this.dataService.wrongData">
          {{ this.dataService.wrongData }}
        </p>
      </div>

      <div
        class="login-card-container"
        *ngIf="this.dataService.registerPagePasswordActive"
      >
        <div class="back-arrow-container">
          <img
            (click)="this.backNameRegisterPage()"
            src="/assets/img/arrow_left.png"
            alt="arrow_left"
          />
        </div>
        <h1>Registrieren</h1>
        <form class="login-card-form" (ngSubmit)="this.register()">
          <div>
            <div>
              <div>
                <div class="password-container">
                  <input
                    (input)="this.resetErrorPasswordRegister()"
                    [type]="
                      this.dataService.passwordRegisterVisible
                        ? 'text'
                        : 'password'
                    "
                    placeholder="Passwort"
                    name="dataService.password"
                    [(ngModel)]="this.dataService.passwordRegister"
                    [class.error]="
                      this.dataService.emptyPasswordRegister &&
                      !this.dataService.passwordRegister
                    "
                  />
                  <button
                    type="button"
                    (click)="this.togglePasswordVisibilityRegister()"
                    tabindex="-1"
                  >
                    <img
                      [src]="
                        this.dataService.passwordRegisterVisible
                          ? '/assets/icons/eye-slash.svg'
                          : '/assets/icons/eye.svg'
                      "
                      alt="Toggle Password"
                      class="password-icon"
                    />
                  </button>
                  <p
                    class="error-text-input"
                    *ngIf="this.dataService.emptyPasswordRegister"
                  >
                    Bitte geben Sie eine gültiges Passwort ein.
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div class="password-container">
                  <input
                    (input)="this.resetErrorPasswordRepeatedRegister()"
                    [type]="
                      this.dataService.passwordRepeatedRegisterVisible
                        ? 'text'
                        : 'password'
                    "
                    placeholder="Passwort wiederholen"
                    name="dataService.repeatedPasswordRegister"
                    [(ngModel)]="this.dataService.repeatedPasswordRegister"
                    [class.error]="
                      this.dataService.emptyPasswordRepeatedRegister &&
                      !this.dataService.repeatedPasswordRegister
                    "
                  />
                  <button
                    type="button"
                    (click)="this.togglePasswordRepeatedVisibilityRegister()"
                    tabindex="-1"
                  >
                    <img
                      [src]="
                        this.dataService.passwordRepeatedRegisterVisible
                          ? '/assets/icons/eye-slash.svg'
                          : '/assets/icons/eye.svg'
                      "
                      alt="Toggle Password"
                      class="password-icon"
                    />
                  </button>
                </div>
                <p
                  class="error-text-input"
                  *ngIf="this.dataService.emptyPasswordRepeatedRegister"
                >
                  Passwort stimmt nicht überein.
                </p>
              </div>
            </div>
          </div>
          <button
            [disabled]="this.dataService.inputIsEmpty"
            [ngClass]="{
              'submit-empty-button': this.dataService.inputIsEmpty,
              'submit-button': !this.dataService.inputIsEmpty
            }"
            type="submit"
          >
            Registrieren
          </button>
        </form>
        <p class="error-text-input" *ngIf="this.dataService.wrongData">
          {{ this.dataService.wrongData }}
        </p>
      </div>
    </div>
    <div
      class="imprint-privacy-policy-card-container"
      *ngIf="
        this.dataService.imprintPagePasswordActive ||
        this.dataService.privacyPolicyPagePasswordActive
      "
    >
      <div
        [ngClass]="{
          'imprint-card-content': dataService.imprintPagePasswordActive,
          'privacy-policy-card-content':
            dataService.privacyPolicyPagePasswordActive
        }"
      >
        <div
          *ngIf="this.dataService.imprintPagePasswordActive"
          class="imprint-container"
        >
          <div class="back-imprint-arrow-container">
            <img
              (click)="this.dataService.backToContent()"
              src="/assets/img/arrow_left.png"
              alt="arrow_left"
            />
          </div>
          <div [innerHTML]="this.dataService.imprintContent"></div>
        </div>
        <div
          *ngIf="this.dataService.privacyPolicyPagePasswordActive"
          class="privacy-policy-container"
        >
          <div class="back-privacy-policy-arrow-container">
            <img
              (click)="this.dataService.backToContent()"
              src="/assets/img/arrow_left.png"
              alt="arrow_left"
            />
          </div>
          <div [innerHTML]="this.dataService.privacyContent"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-container">
    <div class="footer-content">
      <p (click)="this.dataService.loadImprintPage()" class="link-footer">
        Impressum
      </p>
      <p>|</p>
      <p (click)="this.dataService.loadPrivacyPolicyPage()" class="link-footer">
        Datenschutz
      </p>
    </div>
  </div>
</div>
