@import "./../../styles.scss";
@import "./../viewer-page/viewer-page.component.scss";

.video-component-container {
  background-color: $background-black;
  height: 100vh;
  width: 100vw;

  > header {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > img {
      height: 48px;
      padding-left: 48px;
      padding-right: 48px;
      cursor: pointer;
    }
    > img:hover {
      cursor: pointer;
    }
  }
}

.img-viewer-header {
  height: 72px !important;
  border-radius: 8px;
}

.menu-container {
  position: fixed;
  top: 120px;
  right: 48px;
  max-height: 400px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid $gray;
}

.viewer-edit-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 24px;
}

.menu-header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $white;
  padding: 24px;
  gap: 16px;
  font-size: 24px;
  > img {
    height: 72px !important;
    border-radius: 8px;
  }
}

.menu-separating-line {
  height: 1px;
  width: 100%;
  background-color: $gray;
}

.menu-text-content {
  color: $white;
  font-size: 24px;
  padding-left: 24px;
  cursor: pointer;
}

.menu-text-content:hover {
  text-decoration: underline;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.settings-container {
  position: absolute;
  bottom: 28px;
  right: 212px;
  color: white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s ease;
  font-size: 28px;
}

.settings-container.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease 0s, visibility 0.1s ease 0s;
}

.video-container:hover .settings-container,
.settings-container:hover,
.settings-menu {
  opacity: 1 !important;
  visibility: visible !important;
}

.settings-container:hover {
  background: rgba(0, 0, 0, 0.5);
}

.settings-menu {
  position: absolute;
  bottom: 80px;
  right: 218px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 11;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s ease;
}

.settings-menu.show {
  opacity: 1;
  visibility: visible;
}

.settings-menu div {
  cursor: pointer;
  padding: 5px;
  transition: background 0.2s;
}

.settings-menu div:hover {
  background: rgba(255, 255, 255, 0.2);
}

.active-resolution {
  background-color: $red !important;
  color: white;
}

@media (max-width: 1440px) {
  .settings-container {
    right: 142px;
    bottom: 26px;
    font-size: 18px;
  }

  .settings-menu {
    bottom: 60px;
    right: 142px;
  }
}
