<div class="video-component-container">
  <header>
    <img
      (click)="this.backToMainPage()"
      src="/assets/img/logo.png"
      alt="Logo"
    />
    <img
      class="img-viewer-header"
      src="{{ this.dataService.singleViewer.picture_file }}"
      alt="viewer picture"
      (mouseenter)="showMenu()"
    />
  </header>

  <div
    class="menu-container"
    *ngIf="this.dataService.menuVisible"
    (mouseleave)="hideMenu()"
  >
    <div class="menu-header-container">
      <img
        src="{{ this.dataService.singleViewer.picture_file }}"
        alt="viewer picture"
      />
      <span>{{ this.dataService.singleViewer.viewername }}</span>
    </div>
    <div class="menu-separating-line"></div>
    <div class="menu-text-content">
      <p>Konto</p>
    </div>
    <div class="menu-text-content" (click)="this.editViewerOpen()">
      <p>Profil verwalten</p>
    </div>
    <div class="menu-separating-line"></div>
    <div class="menu-text-content" (click)="this.dataService.loadViwerPage()">
      <p>Profil wechseln</p>
    </div>
    <div class="menu-text-content">
      <p>Ausloggen</p>
    </div>
  </div>

  <div (mouseenter)="hideMenu()" class="video-content-container">
    <div>
      <h1 *ngIf="this.dataService.mainContentIsActive">Test MAIN</h1>
    </div>

    <div *ngIf="this.dataService.editUserIsActive" class="edit-user-container">
      <div class="edit-user-content-container">
        <p>Benutzername:</p>
        <p *ngIf="!this.dataService.inputUserEditIsActive">
          {{ this.dataService.user.username }}
        </p>
        <div class="edit-user-input-content-container">
          <input
            *ngIf="this.dataService.inputUserEditIsActive"
            (input)="this.validatioContentEditUser()"
            type="text"
            placeholder="{{ this.dataService.user.username }}"
            name="userrname"
            class="edit-user-content-input"
            [(ngModel)]="this.dataService.userName"
          />
          <p
            class="edit-user-error-text"
            *ngIf="
              this.dataService.wrongData &&
              this.dataService.inputUserEditIsActive
            "
          >
            {{ this.dataService.wrongData }}
          </p>
        </div>
        <img
          *ngIf="!this.dataService.inputUserEditIsActive"
          (click)="this.openEditeInputUsername()"
          src="/assets/img/pen.png"
          alt="pen picture"
        />
        <img
          *ngIf="
            this.dataService.inputUserEditIsActive &&
            !this.dataService.validationContentUser
          "
          (click)="this.openEditeInputUsername()"
          src="/assets/img/check-gray.png"
          alt="check gray picture"
          [ngClass]="{
            'cursor-default':
              this.dataService.inputUserEditIsActive &&
              !this.dataService.validationContentUser
          }"
        />
        <img
          *ngIf="
            this.dataService.inputUserEditIsActive &&
            this.dataService.validationContentUser
          "
          (click)="this.saveEditUser()"
          src="/assets/img/check-white.png"
          alt="check white picture"
        />
        <img
          *ngIf="this.dataService.inputUserEditIsActive"
          (click)="this.dataService.closeEditeInput()"
          src="/assets/img/cross-white.png"
          alt="cross picture"
        />
      </div>

      <div class="edit-user-content-container">
        <p>E-Mail:</p>
        <p *ngIf="!this.dataService.inputEmailEditIsActive">
          {{ this.dataService.user.email }}
        </p>
        <div class="edit-user-input-content-container">
          <input
            *ngIf="this.dataService.inputEmailEditIsActive"
            (input)="this.validatioContentEditUser()"
            type="text"
            placeholder="{{ this.dataService.user.email }}"
            name="email"
            class="edit-user-content-input"
            [(ngModel)]="this.dataService.email"
          />
          <p
            class="edit-user-error-text"
            *ngIf="
              this.dataService.wrongData &&
              this.dataService.inputEmailEditIsActive
            "
          >
            {{ this.dataService.wrongData }}
          </p>
        </div>

        <img
          *ngIf="!this.dataService.inputEmailEditIsActive"
          (click)="this.openEditeInputEmail()"
          src="/assets/img/pen.png"
          alt="pen picture"
        />
        <img
          *ngIf="
            this.dataService.inputEmailEditIsActive &&
            !this.dataService.validationContentUser
          "
          (click)="this.openEditeInputUsername()"
          src="/assets/img/check-gray.png"
          alt="check gray picture"
          [ngClass]="{
            'cursor-default':
              this.dataService.inputEmailEditIsActive &&
              !this.dataService.validationContentUser
          }"
        />
        <img
          *ngIf="
            this.dataService.inputEmailEditIsActive &&
            this.dataService.validationContentUser
          "
          (click)="this.saveEditUser()"
          src="/assets/img/check-white.png"
          alt="check white picture"
        />
        <img
          *ngIf="this.dataService.inputEmailEditIsActive"
          (click)="this.dataService.closeEditeInput()"
          src="/assets/img/cross-white.png"
          alt="cross picture"
        />
      </div>

      <div class="edit-user-content-container">
        <p>Passwort:</p>
        <p>************</p>
        <img
          (click)="this.openEditeInputUsername()"
          src="/assets/img/pen.png"
          alt="pen picture"
        />
      </div>
    </div>

    <div
      *ngIf="this.dataService.editViewerIsActive"
      class="viewer-edit-content-container"
    >
      <div class="save-viewer-img-container">
        <img
          class="save-viewer-user-img"
          src="{{ this.dataService.randomImgPath }}"
          alt="avatar"
        />
        <img
          (click)="
            this.dataService.setRandomImagePath();
            this.validatioContentEditViewer()
          "
          class="save-viewer-change-img"
          src="/assets/img/change.png"
          alt="avatar"
        />
      </div>
      <form class="save-viewer-input-container">
        <input
          (input)="this.validatioContentEditViewer()"
          type="text"
          placeholder="Name"
          name="viewername"
          [(ngModel)]="this.dataService.viewername"
        />
        <button
          (click)="this.saveEditViewer()"
          [disabled]="!this.dataService.validationContent"
          [ngClass]="{
            'submit-empty-button': !this.dataService.validationContent,
            'submit-button': this.dataService.validationContent
          }"
          type="submit"
        >
          Speichern
        </button>
        <button
          [disabled]="
            this.dataService.emptyViewername || this.dataService.inputIsEmty
          "
          class="submit-button"
          type="submit"
        >
          Abbrechen
        </button>
      </form>
    </div>

    <div
      *ngIf="this.dataService.showVideo"
      #videoContainer
      class="video-container"
      (mouseenter)="showControls()"
      (mouseleave)="hideControls()"
    >
      <video
        #videoPlayer
        [src]="this.dataService.selectedResolution"
        controls
        (play)="hideControlsAfterDelay()"
      ></video>
      <div
        class="settings-container"
        [class.hidden]="this.dataService.hideSettingsMenu"
        (click)="toggleSettingsMenu()"
      >
        ⚙️
      </div>
      <div *ngIf="this.dataService.showSettingsMenu" class="settings-menu">
        <div
          *ngFor="let res of this.dataService.video.resolutions"
          class="resolution-option"
          [ngClass]="{
            'active-resolution':
              normalizeUrl(this.dataService.selectedResolution) ===
              normalizeUrl(res.url)
          }"
          (click)="changeResolution(res.url)"
        >
          {{ res.label }}
        </div>
      </div>
    </div>
  </div>
</div>
