<div class="video-component-container">
  <header>
    <img
      (click)="this.backToMainPage()"
      src="/assets/img/logo.png"
      alt="Logo"
    />
    <img
      class="img-viewer-header"
      src="{{ this.dataService.singleViewer.picture_file }}"
      alt="viewer picture"
      (mouseenter)="showMenu()"
    />
  </header>

  <div
    class="menu-container"
    *ngIf="this.dataService.menuVisible"
    (mouseleave)="hideMenu()"
  >
    <div class="menu-header-container">
      <img
        src="{{ this.dataService.singleViewer.picture_file }}"
        alt="viewer picture"
      />
      <span>{{ this.dataService.singleViewer.viewername }}</span>
    </div>
    <div class="menu-separating-line"></div>
    <div class="menu-text-content" (click)="this.editUserOpen()">
      <p>Konto</p>
    </div>
    <div class="menu-text-content" (click)="this.editViewerOpen()">
      <p>Profil verwalten</p>
    </div>
    <div class="menu-separating-line"></div>
    <div class="menu-text-content" (click)="this.switchViewer()">
      <p>Profil wechseln</p>
    </div>
    <div class="menu-text-content" (click)="this.dataService.logOut()">
      <p>Ausloggen</p>
    </div>
  </div>

  <div (mouseenter)="hideMenu()" class="video-content-container">
    <div
      *ngIf="this.dataService.mainContentIsActive"
      class="video-collection-content-container"
    >
      <div
        *ngFor="let video of dataService.videoCollection"
        class="single-video-collection"
        (click)="this.videoService.loadVideo(video.id)"
      >
        <img
          [src]="dataService.API_VIDEO_URL + video.titel_picture_file"
          alt="single video picture"
        />
        <span>{{ video.title }}</span>
      </div>
    </div>

    <div *ngIf="this.dataService.editUserIsActive" class="edit-user-container">
      <div>
        <div class="edit-user-content-container">
          <p
            [ngClass]="{
              'd-none': this.dataService.inputUserEditIsActive
            }"
          >
            Benutzername:
          </p>
          <p *ngIf="!this.dataService.inputUserEditIsActive">
            {{ this.dataService.user.username }}
          </p>
          <div class="edit-user-input-content-container">
            <input
              *ngIf="this.dataService.inputUserEditIsActive"
              (input)="this.validatioContentEditUser()"
              type="text"
              placeholder="{{ this.dataService.user.username }}"
              name="userrname"
              class="edit-user-content-input"
              [(ngModel)]="this.dataService.userName"
            />
            <p
              class="edit-user-error-text"
              *ngIf="
                this.dataService.wrongData &&
                this.dataService.inputUserEditIsActive
              "
            >
              {{ this.dataService.wrongData }}
            </p>
          </div>
          <img
            *ngIf="!this.dataService.inputUserEditIsActive"
            (click)="this.openEditeInputUsername()"
            src="/assets/img/pen.png"
            alt="pen picture"
          />
          <img
            *ngIf="
              this.dataService.inputUserEditIsActive &&
              !this.dataService.validationContentUser
            "
            (click)="this.openEditeInputUsername()"
            src="/assets/img/check-gray.png"
            alt="check gray picture"
            [ngClass]="{
              'cursor-default':
                this.dataService.inputUserEditIsActive &&
                !this.dataService.validationContentUser
            }"
          />
          <img
            *ngIf="
              this.dataService.inputUserEditIsActive &&
              this.dataService.validationContentUser
            "
            (click)="this.saveEditUser()"
            src="/assets/img/check-white.png"
            alt="check white picture"
          />
          <img
            *ngIf="this.dataService.inputUserEditIsActive"
            (click)="this.dataService.closeEditeInput()"
            src="/assets/img/cross-white.png"
            alt="cross picture"
          />
        </div>

        <div class="edit-user-content-container">
          <p
            [ngClass]="{
              'd-none': this.dataService.inputEmailEditIsActive
            }"
          >
            E-Mail:
          </p>
          <p *ngIf="!this.dataService.inputEmailEditIsActive">
            {{ this.dataService.user.email }}
          </p>
          <div class="edit-user-input-content-container">
            <input
              *ngIf="this.dataService.inputEmailEditIsActive"
              (input)="this.validatioContentEditUser()"
              type="text"
              placeholder="{{ this.dataService.user.email }}"
              name="email"
              class="edit-user-content-input"
              [(ngModel)]="this.dataService.email"
            />
            <p
              class="edit-user-error-text"
              *ngIf="
                this.dataService.wrongData &&
                this.dataService.inputEmailEditIsActive
              "
            >
              {{ this.dataService.wrongData }}
            </p>
          </div>

          <img
            *ngIf="!this.dataService.inputEmailEditIsActive"
            (click)="this.openEditeInputEmail()"
            src="/assets/img/pen.png"
            alt="pen picture"
          />
          <img
            *ngIf="
              this.dataService.inputEmailEditIsActive &&
              !this.dataService.validationContentUser
            "
            (click)="this.openEditeInputUsername()"
            src="/assets/img/check-gray.png"
            alt="check gray picture"
            [ngClass]="{
              'cursor-default':
                this.dataService.inputEmailEditIsActive &&
                !this.dataService.validationContentUser
            }"
          />
          <img
            *ngIf="
              this.dataService.inputEmailEditIsActive &&
              this.dataService.validationContentUser
            "
            (click)="this.saveEditUser()"
            src="/assets/img/check-white.png"
            alt="check white picture"
          />
          <img
            *ngIf="this.dataService.inputEmailEditIsActive"
            (click)="this.dataService.closeEditeInput()"
            src="/assets/img/cross-white.png"
            alt="cross picture"
          />
        </div>

        <div class="edit-user-content-container">
          <p>Passwort:</p>
          <p>************</p>
          <img
            (click)="this.openEditePassword()"
            src="/assets/img/pen.png"
            alt="pen picture"
          />
        </div>
        <button
          (click)="this.closeEditViewer()"
          class="submit-button"
          type="submit"
        >
          Abbrechen
        </button>
      </div>
    </div>

    <div
      *ngIf="this.dataService.editPasswordIsActive"
      class="edite-password-container"
    >
      <div class="edite-password-content-container">
        <div class="edite-password-container-content">
          <input
            (input)="this.resetErrorOldPassword()"
            [type]="
              this.dataService.editeOldPasswordVisible ? 'text' : 'password'
            "
            placeholder="Altes Passwort eingeben"
            name="this.dataService.editOldPasswordInput"
            [(ngModel)]="this.dataService.editOldPasswordInput"
            [class.error]="
              this.dataService.emptyEditOldPasswordInput &&
              !this.dataService.editOldPasswordInput
            "
          />
          <button
            type="button"
            (click)="this.toggleEditeOldPasswordVisibility()"
            tabindex="-1"
          >
            <img
              [src]="
                this.dataService.editeOldPasswordVisible
                  ? '/assets/icons/eye-slash.svg'
                  : '/assets/icons/eye.svg'
              "
              alt="Toggle Password"
              class="password-icon"
            />
          </button>
        </div>

        <div class="edite-password-container-content">
          <input
            (input)="this.resetErrorNewPassword()"
            [type]="this.dataService.editePasswordVisible ? 'text' : 'password'"
            placeholder="Neues Passwort eingeben"
            name="this.dataService.editNewPasswordInput"
            [(ngModel)]="this.dataService.editNewPasswordInput"
            [class.error]="
              this.dataService.emptyEditNewPasswordInput &&
              !this.dataService.editNewPasswordInput
            "
          />
          <button
            type="button"
            (click)="this.toggleEditePasswordVisibility()"
            tabindex="-1"
          >
            <img
              [src]="
                this.dataService.editePasswordVisible
                  ? '/assets/icons/eye-slash.svg'
                  : '/assets/icons/eye.svg'
              "
              alt="Toggle Password"
              class="password-icon"
            />
          </button>

          <p
            class="error-text-input"
            *ngIf="this.dataService.emptyEditNewPasswordInput"
          >
            Neues Passwort eingeben.
          </p>
        </div>

        <div class="edite-password-container-content">
          <input
            (input)="this.resetErrorRepeatedPassword()"
            [type]="
              this.dataService.editeRepeatedPasswordVisible
                ? 'text'
                : 'password'
            "
            placeholder="Neues Passwort wiederholen"
            name="this.dataService.editRepeatedPasswordInput"
            [(ngModel)]="this.dataService.editRepeatedPasswordInput"
            [class.error]="
              this.dataService.emptyEditRepeatedPasswordInput ||
              (!this.dataService.preparedPasswordsMatch &&
                this.dataService.editRepeatedPasswordInput !==
                  this.dataService.editNewPasswordInput)
            "
          />
          <button
            type="button"
            (click)="this.toggleEditeRepeatedPasswordVisibility()"
            tabindex="-1"
          >
            <img
              [src]="
                this.dataService.editeRepeatedPasswordVisible
                  ? '/assets/icons/eye-slash.svg'
                  : '/assets/icons/eye.svg'
              "
              alt="Toggle Password"
              class="password-icon"
            />
          </button>

          <p
            class="error-text-input"
            *ngIf="
              this.dataService.emptyEditRepeatedPasswordInput ||
              (!this.dataService.preparedPasswordsMatch &&
                this.dataService.editRepeatedPasswordInput !==
                  this.dataService.editNewPasswordInput)
            "
          >
            Passwort stimmt nicht überein.
          </p>
        </div>
        <button
          (click)="this.saveNewPasswort()"
          [disabled]="
            this.dataService.emptyEditOldPasswordInput ||
            this.dataService.emptyEditNewPasswordInput ||
            this.dataService.emptyEditRepeatedPasswordInput ||
            !this.dataService.preparedPasswordsMatch ||
            this.dataService.passwortEditeInputIsEmpty
          "
          [ngClass]="{
            'submit-empty-button':
              this.dataService.emptyEditOldPasswordInput ||
              this.dataService.emptyEditNewPasswordInput ||
              this.dataService.emptyEditRepeatedPasswordInput ||
              !this.dataService.preparedPasswordsMatch ||
              this.dataService.passwortEditeInputIsEmpty,
            'submit-button':
              !this.dataService.emptyEditOldPasswordInput &&
              !this.dataService.emptyEditNewPasswordInput &&
              !this.dataService.emptyEditRepeatedPasswordInput &&
              this.dataService.preparedPasswordsMatch &&
              !this.dataService.passwortEditeInputIsEmpty
          }"
          type="submit"
        >
          Speichern
        </button>
        <button
          (click)="this.closeEditePassword()"
          class="submit-button"
          type="submit"
        >
          Abbrechen
        </button>
        <p class="error-text-input" *ngIf="this.dataService.wrongData">
          {{ this.dataService.wrongData }}
        </p>
      </div>
    </div>

    <div
      *ngIf="this.dataService.editViewerIsActive"
      class="viewer-edit-content-container"
    >
      <div class="save-viewer-img-container">
        <img
          class="save-viewer-user-img"
          src="{{ this.dataService.randomImgPath }}"
          alt="avatar"
        />
        <img
          (click)="
            this.dataService.setRandomImagePath();
            this.validatioContentEditViewer()
          "
          class="save-viewer-change-img"
          src="/assets/img/change.png"
          alt="avatar"
        />
      </div>
      <form class="save-viewer-input-container">
        <input
          (input)="this.validatioContentEditViewer()"
          type="text"
          placeholder="Name"
          name="viewername"
          [(ngModel)]="this.dataService.viewername"
        />
        <button
          (click)="this.saveEditViewer()"
          [disabled]="!this.dataService.validationContent"
          [ngClass]="{
            'submit-empty-button': !this.dataService.validationContent,
            'submit-button': this.dataService.validationContent
          }"
          type="submit"
        >
          Speichern
        </button>
        <button
          (click)="this.closeEditViewer()"
          class="submit-button"
          type="submit"
        >
          Abbrechen
        </button>
      </form>
    </div>

    <div
      *ngIf="this.dataService.showVideo"
      #videoContainer
      class="video-container"
      (mouseenter)="this.showControls()"
      (mouseleave)="this.hideControls()"
    >
      <video
        #videoPlayer
        [src]="this.dataService.selectedResolution"
        controls
        (play)="hideControlsAfterDelay()"
      ></video>
      <img
        class="back-arrow-video-container"
        [class.hidden]="this.dataService.hideSettingsMenu"
        (click)="this.backToVodeioCollection()"
        src="/assets/img/gray-arrow.png"
      />
      <div
        class="settings-container"
        [class.hidden]="this.dataService.hideSettingsMenu"
        (click)="toggleSettingsMenu()"
      >
        ⚙️
      </div>
      <div *ngIf="this.dataService.showSettingsMenu" class="settings-menu">
        <div
          *ngFor="let res of this.dataService.video.resolutions"
          class="resolution-option"
          [ngClass]="{
            'active-resolution':
              normalizeUrl(this.dataService.selectedResolution) ===
              normalizeUrl(res.url)
          }"
          (click)="changeResolution(res.url)"
        >
          {{ res.label }}
        </div>
      </div>
    </div>
  </div>
</div>
