@import "./../src/fonts.scss";

$white: #fff;
$red: #e50914;
$black: #000000;
$gray: #424244;
$darck-gray: #808080;
$background-black: #141414;

body {
  margin: 0;
  font-family: "Roboto";
  scroll-behavior: smooth;
}

.impressum-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #e50914 rgba(0, 0, 0, 0.9);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.9);
}

*::-webkit-scrollbar-thumb {
  background-color: #e50914;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.9);
}

@media (max-width: 700px) {
  h1 {
    font-size: 20px;
  }

  h2,
  h3,
  h4 {
    font-size: 14px;
  }

  p,
  li,
  span,
  label {
    font-size: 12px !important;
  }
}
