<div class="login-container">
  <div class="login-content">
    <div class="header-container">
      <img
        (click)="this.dataService.loadMainPage()"
        src="/assets/img/logo.png"
        alt="Logo"
      />
    </div>
    <div class="login-content-container">
      <div class="login-card-container">
        <div class="back-arrow-container">
          <img
            (click)="this.dataService.loadMainPage()"
            src="/assets/img/arrow_left.png"
            alt="arrow_left"
          />
        </div>
        <h1>Passwort zurücksetzen</h1>
        <form class="login-card-form" (ngSubmit)="this.setNewPassword()">
          <div>
            <div>
              <div>
                <div class="password-container">
                  <input
                    (input)="this.resetErrorPassword()"
                    [type]="
                      this.dataService.passwordResetVisible
                        ? 'text'
                        : 'password'
                    "
                    placeholder="Passwort"
                    name="password"
                    [(ngModel)]="this.dataService.password"
                    [class.error]="
                      this.dataService.emptyPassword &&
                      !this.dataService.password
                    "
                  />
                  <button
                    type="button"
                    (click)="this.toggleResetPasswordVisibility()"
                  >
                    <img
                      [src]="
                        this.dataService.passwordResetVisible
                          ? '/assets/icons/eye-slash.svg'
                          : '/assets/icons/eye.svg'
                      "
                      alt="Toggle Password"
                      class="password-icon"
                    />
                  </button>
                  <p
                    class="error-text-input"
                    *ngIf="this.dataService.emptyPassword"
                  >
                    Bitte geben Sie eine gültiges Passwort ein.
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div class="password-container">
                  <input
                    (input)="this.resetErrorRepeatedPassword()"
                    [type]="
                      this.dataService.passwordRepeatedResetVisible
                        ? 'text'
                        : 'password'
                    "
                    placeholder="Passwort wiederholen"
                    name="repeatedPassword"
                    [(ngModel)]="this.dataService.repeatedPassword"
                    [class.error]="
                      this.dataService.emptyRepeatedPassword &&
                      !this.dataService.repeatedPassword
                    "
                  />
                  <button
                    type="button"
                    (click)="this.toggleResetPasswordRepeatedVisibility()"
                  >
                    <img
                      [src]="
                        this.dataService.passwordRepeatedResetVisible
                          ? '/assets/icons/eye-slash.svg'
                          : '/assets/icons/eye.svg'
                      "
                      alt="Toggle Password"
                      class="password-icon"
                    />
                  </button>
                  <p
                    class="error-text-input"
                    *ngIf="this.dataService.emptyRepeatedPassword"
                  >
                    Passwort stimmt nicht überein.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <button class="submit-button" type="submit">
            Neuse Passwort speichern
          </button>
        </form>
        <p class="error-text-input" *ngIf="this.dataService.wrongData">
          {{ this.dataService.wrongData }}
        </p>
      </div>
    </div>
  </div>
</div>
